body{
    background-color: #59886b;
    margin: 0;
}

h1{
    color: #fef2bf;

    font-family: 'Press Start 2P', cursive;

    text-align: center;
    font-size: 2.7rem;

    margin: 6rem;
}

.button-container{
    text-align: center;
    display: grid;

    width: 30.5rem;
    height: 30.5rem;

    grid-template-columns: auto auto;
    grid-gap: 10%;
    margin: auto;
    
}

.grid-items{
    width: 13.7rem;
    height: 13.7rem;

    text-align: center;

    border: solid black 8px;
    border-radius: 20%;

    outline: none;
    
}

.square-0{
    background-color: green;
}

.square-1{
    background-color: red;
}

.square-2{
    background-color: yellow;
}

.square-3{
    background-color: blue;
}
/*ORIGINAL BACKGROUND-COLOR #011f3f*/

@media (max-width: 1660px){
    .button-container{
        
        height: 18rem;
        width: 19rem;
    }

    .grid-items{
        width: 8rem;
        height: 8rem;

        border: solid black 5px;
    }

    h1{
        font-size: 1.7rem;
    }
}